.sidebar {
  width: 250px;
  background-color: #111722;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px;

  .sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .logo {
      font-size: 18px;
      font-weight: 700;
    }

    .username {
      font-size: 14px;
      color: #92a4c9;
    }
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;

    a {
      display: block;
      padding: 10px 15px;
      border-radius: 8px;
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: background 0.2s;

      &:hover {
        background-color: #0051ff;
      }
    }
  }

  .logout-button {
    margin-top: auto;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #135bec;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #0f49c2;
    }
  }
}

/* Dark mode */
.dark .sidebar {
  background-color: #111722;

  .sidebar-header .username {
    color: #92a4c9;
  }

  .sidebar-nav a {
    color: white;

    &:hover {
      background-color: #0051ff;
    
    }
  }

  .logout-button {
    background-color: #135bec;

    &:hover {
      background-color: #0f49c2;
    }
  }
}
